#loginsection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.background {
    margin-top: 250px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}
.user_card {
    height: 500px;
    width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    background: skyblue;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #0509fa;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid #0509fa;
}
.form_container {
    margin-top: 120px;
}
.login_btn {
    margin-top: 40px;
    outline: 0px ;
    width: 100%;
    background: #5356FF ;
    color: white ;
}
.login_btn:hover,
.login_btn:focus {
    box-shadow: none ;
    outline: 0px ;
    width: 100%;
    background: #5356FF;
    color: #e0e0e0;
}

.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #5356FF;
    color: white;
    border: 0;
    border-radius: 0.25rem 0 0 0.25rem;
    width: 50px; 
    height: 40px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.input_user,
.input_pass {
    width: 100%;
    height: 40px; 
    box-shadow: none;
    outline: 0px;
}
.input_user:focus,
.input_pass:focus {
    box-shadow: none;
    outline: 0px;
}
.input-group-text i.fas {
    width: 20px !important; 
    height: 20px !important; 
    font-size: 30px !important; 
    line-height: 20px;
}